#cont-conocimientos {
    border: 1px black solid;
}

.row {
    justify-content: space-evenly;
    margin: 4px;
    border: 1px black solid;
}

.col-4 {
    margin: 2px;
    font-size: 18px;
}
.col {
    margin: 2px;
    border: 1px black solid;
    opacity: .5;
}

@media (max-width:1080px) {
    #cont-conocimientos {
        width: 90vw;
    }
}