#title-estudios {
    margin-top: 10px;
    margin-left: 10%;
    width: 90vw;
    border: 1px black solid;
}

#cont-estudios {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px black solid;
    overflow-y: scroll;
    height: 90vh;
}

.cont-diplo,
#diplo {
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 100%;
}


@media (max-width: 1080px) {

    #cont-estudios {
        width: 90vw;
        height: 50vh;
    }

    .cont-diplo,
    #diplo {
        margin-left: 0;
        width: 85vw;
        height: auto;
    }

}