#cont-exp {
    margin-top: 10px;
    border: 1px black solid;
}

.cont-avocados {
    display: flex;
    justify-content: space-evenly;
    border: 1px rgb(206, 201, 201) solid;
}

#avdo p {
    text-align: justify;
    margin: 10px;
}

#avdo-url {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    border: 1px rgb(206, 201, 201) solid;
}

.cont-sintra {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-evenly;
    border: 1px rgb(206, 201, 201) solid;
}

#sintra p {
    text-align: justify;
    margin: 10px;
}

#sintra-url {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    border: 1px rgb(206, 201, 201) solid;
}

.cont-graph {
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-evenly;
    border: 1px rgb(206, 201, 201) solid;
}

#graph p {
    text-align: justify;
    margin: 10px;
}

#graph-url {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    border: 1px rgb(206, 201, 201) solid;
}

#avdo-url a {
    margin-left: 10px;
}

#sintra-url a {
    margin-left: 10px;
}

#graph-url a {
    margin-left: 10px;
}

@media (max-width: 1080px) {

    #cont-exp {
        width: 90vw;
    }

    #avdo-url a {
        font-size: 12px;
    }

    #sintra-url a {
        font-size: 12px;
    }

   #graph-url a {
    font-size: 9px
   }
}